@import "src/assets/styles/vars";

.result {
  .title {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    h4 {
      width: 100%;
      color: $green;
    }
    mat-icon {
      color: $green;
      cursor: pointer;
      &:hover {
        color: $dark-green;
      }
    }
  }
  p {
    margin: 0.5rem 0;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
    &:hover {
      color: $dark-green;
    }
  }
  .break-line {
    margin-top: .5rem;
  }
}
