@import "src/assets/styles/vars";

.spielbetrieb {
  padding: 0 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.break-line {
  margin-bottom: 2rem;
}

.title {
  margin: 4rem 0;

  h1 {
    margin-bottom: 2rem;
    color: $dark-green;
  }

  .sub-nav {
    width: 100%;
    margin-top: 1rem;
    ul {
      list-style: none;
      display: flex;
      li {
        width: 50%;
        display: flex;
        @media  screen and (min-width: $screen-s){
          width: calc(100%/6);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  color: $light-green;
  margin-bottom: 1rem;
}
