@import "src/assets/styles/vars";

header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .header-image {
    display: none;
    transition: margin-top 1s;
    width: 100%;
    @media screen and (min-width: $screen-l){
      display: block;
    }
  }
  .header-bar {
    height: 80px;
    background-color: $light-green;
    width: 100vw;
    display: block;
    position: relative;
    @media screen and (min-width: $screen-m){
      height: 100px;
    }

    @media screen and (min-width: $screen-l){
      display: none;
    }

    .hamburger {
      position: absolute;
      left: 2rem;
      top: 30px;
      height: 20px;
      width: 40px;
      cursor: pointer;
      z-index: 1;
      transition: all .3s;
      @media  screen and (min-width: $screen-m){
        top: 40px;
      }
      @media  screen and (min-width: $screen-l){
        display: none;
      }

      .ham-wide {
        width: 40px;
        height: 3px;
        background-color: black;
        border-radius: 4px;
        transition: all .3s;
        transform-origin: center;
        position: absolute;
      }

      .ham-narrow {
        width: 20px;
        height: 3px;
        background-color: black;
        border-radius: 4px;
        transition: all .3s;
        transform-origin: center;
        position: absolute;
      }

      .ham-top {
        top: 0px;
      }
      .ham-mid {
        top: 8px;
      }
      .ham-bot {
        top: 16px;
      }

      &.open {
        left: calc(100vw - 72px);
        @media  screen and (min-width: $screen-s){
          left: 332px;
        }

        .ham-top {
          animation: ham-top .5s forwards;

        }
        .ham-mid {
          animation: ham-mid .5s forwards;
        }
        .ham-bot {
          animation: ham-bot .5s forwards;
        }
      }

      &.close {
        .ham-top {
          animation: ham-top-close .5s;
        }
        .ham-mid {
          animation: ham-mid-close .5s;
        }
        .ham-bot {
          animation: ham-bot-close .5s;
        }
      }
    }
  }
}
