<!-- <header>
  <img  class="header-image" src="/assets/images/home_banner.jpeg" alt="home_banner">
</header>
 -->


<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="../assets/images/home/layer00.png" />
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img src="../assets/images/home/layer01.png" />
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img src="../assets/images/home/layer02.png" />
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img src="../assets/images/home/layer03.png" />
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img src="../assets/images/home/layer04.png" />
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img src="../assets/images/home/layer05.png" />
  </div>
  <div class="parallax__layer parallax__layer__6">
    <img src="../assets/images/home/layer06.png" />
  </div>
  <div class="parallax__layer parallax__layer__7">
    <img src="../assets/images/home/layer07.png" />
  </div>
  <div class="parallax__cover"></div>
</div>
