@import "src/assets/styles/vars";

.events {
  display: flex;
  flex-direction: column;
  .event {
    width: 100%;
    h3 {
      color: $green;
      margin: 1rem 0;
    }
    .content {
      display: flex;
      flex-direction: row;
      img {
        margin-right: 1.2rem;
        width: 25%;
      }
      .message {
        .text {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        .link {
          font-size: 1rem;
          text-decoration: none;
          color: $light-green;
          &:hover {
            color: $dark-green;
          }
        }
      }
    }
  }
}
