<div class="news" *ngIf="news">
  <div class="title">
    <h3>| {{news.title}}</h3>
    <mat-icon *ngIf="authService.currentUser?.role == 'admin'" (click)="edit()">edit</mat-icon>
    <mat-icon *ngIf="authService.currentUser?.role == 'admin'" (click)="delete()">delete</mat-icon>
  </div>
  <div class="content">
    <div class="image">
      <img [src]="imageUrl$ | async" alt="">
    </div>
    <div class="message">
      <div class="text">
        <p *ngFor="let text of news.description">{{text}}</p>
      </div>
      <a *ngIf="flyerUrl$" [href]="flyerUrl$ | async" target="_blank" class="link">... zum Flyer</a>
    </div>
  </div>
</div>
