@import "src/assets/styles/vars";

.board {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  app-board-member {
    width: 100%;
    margin-bottom: 1rem;
    @media screen and (min-width: $screen-s) {
      width: calc(50% - 1rem);
    }
  }
}
