<div class="sponsor" *ngIf="sponsor" [class.column]="column">
  <a class="image" [href]="sponsor.url" target="_blank">
    <img [src]="imageUrl$ | async" alt="">
  </a>
  <div class="infos">
    <p>{{sponsor.name}}</p>
    <p>{{sponsor.description}}</p>
    <p>{{sponsor.postalCode}} {{sponsor.city}}</p>
    <a *ngIf="sponsor.email" href="mailto:{{sponsor.email}}" target="_blank">{{sponsor.email}}</a>
    <p>{{sponsor.phoneNumber}}</p>
    <a *ngIf="sponsor.url" [href]="sponsor.url" target="_blank">...zur Webseite</a>
  </div>
</div>
