<h3>Hornusser-Hüsli</h3>
<div class="wirtschaft">
  <img [src]="image$ | async" alt="">
  <div>
    <p>Die Zuschauer:innen können die interessanten Spiele bei Mineral, Bier, Wein oder einem feinen Hornusser- oder Langschläger-kafi mitverfolgen.</p>
    <p>Für den Magen gibt es im Hüsli auch eine Stärkung. Speck, Rauch- und Schweinswürste oder gar ein leckeres Menu stehen auf dem Speiseplan. Die A-Mannschaft liebt ganz besonders Cremeschnitten. Die Wirtsleute bemühen sich stets, die Wünsche der Besucher und Spieler nach Möglichkeiten zu erfüllen!</p>
  </div>
</div>
<h3>Öffnungszeiten</h3>
<p>Die Hornusserwirtschaft ist bei jedem Heimspiel der A-, B- und Nachwuchs-Mannschaft geöffnet.</p>
<p>Natürlich freuen wir uns, wenn auch Sie zu einem Heimspiel einer Urtener Hornussermannschaft auf dem Hornusser Platz erscheinen und dort einige Musestunden geniessen.</p>
