@import "src/assets/styles/colors";

footer {
  padding: 4rem 4rem;
  width: 100%;
  background-color: $dark-green;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .links {
    display: flex;
    flex-direction: row;
    h2 {
      margin-bottom: .5rem;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      width: calc(100% / 3);
      ul {
        li {
          list-style: none;
          margin-bottom: 0.5rem;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
