<footer>
  <div class="links">
    <div>
      <h2 id="test">Über uns</h2>
      <ul>
        <li>
          <a (click)="goTo('contact')">Kontakt</a>
        </li>
        <li>
          <a (click)="goTo('playmaker')">Spielabmacher</a>
        </li>
        <li>
          <a (click)="goTo('board')">Vorstand</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Rechtliches</h2>
      <ul>
        <li>
          <a href="">© HG Urtenen</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Links</h2>
      <ul>
        <li>
          <a href="https://www.facebook.com/people/HG-Urtenen/100063495040643/" target="_blank">Facebook</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.instagram.com/hg_urtenen/" target="_blank">Instagram</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://ehv.ch/" target="_blank">Eidgenössischer Hornusserverband</a>
        </li>
        <li>
          <a href="https://www.urtenen-schoenbuehl.ch/" target="_blank">Gemeinde Urtenen-Schönbühl</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
