<div class="hamburger" [class.open]="hamOpen" [class.close]="backFromCross" (click)="handleHamburgerMenu()">
  <div class="ham-wide ham-top"></div>
  <div class="ham-narrow ham-mid"></div>
  <div class="ham-wide ham-bot"></div>
  <div></div>
</div>

<div class="navigation-sidebar" [class.open]="hamOpen">
  <img routerLink="/home" src="assets/images/logo.jpg" alt="logo">
  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="home" (click)="handleHamburgerMenu()">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="gesellschaft" (click)="handleHamburgerMenu()">Verein</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="spielbetrieb" (click)="handleHamburgerMenu()">Spielbetrieb</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="medien" (click)="handleHamburgerMenu()">Medien</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="sponsoren" (click)="handleHamburgerMenu()" >Sponsoren</a>
      </li>
    </ul>
  </nav>
  <div class="program">
    <a href="assets/pdf/2022_V2_Jahresprogramm.pdf" target="_blank">Download Jahresprogramm</a>
  </div>
  <div class="login">
    <a *ngIf="authService.currentUser?.role != 'admin';else loggedIn" routerLink="login" (click)="handleHamburgerMenu()">Login</a>
    <ng-template #loggedIn>
      <p>Admin | <a (click)="logout()">Logout</a></p>
    </ng-template>
  </div>
</div>
