<div class="navigation-sidebar" [class.open]="navigationService.hamOpen">
  <img routerLink="/home" src="assets/images/logo.jpg" alt="logo">
  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="home" (click)="navigationService.handleHamburgerMenu()">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="gesellschaft" (click)="navigationService.handleHamburgerMenu()">Verein</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="spielbetrieb" (click)="navigationService.handleHamburgerMenu()">Spielbetrieb</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="photos" (click)="navigationService.handleHamburgerMenu()">Fotos</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="sponsoren" (click)="navigationService.handleHamburgerMenu()" >Sponsoren</a>
      </li>
      <li *ngIf="authService.currentUser != null">
        <a routerLinkActive="active" routerLink="member" (click)="navigationService.handleHamburgerMenu()" >Mitgliederbereich</a>
      </li>
      <li>
        <a href="https://arena.asport.tv/club/4908/hg-urtenen" target="_blank" (click)="navigationService.handleHamburgerMenu()" >Liveübertragung Spiele</a>
      </li>
    </ul>
  </nav>
  <div class="program">
    <a href="assets/pdf/2025_Jahresprogramm_01.pdf" target="_blank">Download Jahresprogramm</a>
  </div>
  <div class="program-moosseesharks">
    <a href="assets/pdf/JahresplanSharks_2024.pdf" target="_blank">Download Jahresprogramm Nachwuchs Urtenen/Utzigen</a>
  </div>
  <div class="login">
    <a *ngIf="authService.currentUser == null;else loggedIn" routerLink="login" (click)="navigationService.handleHamburgerMenu()">Login</a>
    <ng-template #loggedIn>
      <p>{{authService.currentUser?.role}} | <a (click)="logout()">Logout</a></p>
    </ng-template>
  </div>
</div>
